<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Readdit</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Using Bootstrap theme -->
    <link rel="stylesheet" href="https://bootswatch.com/paper/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#personal-links">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Readdit</a>
        </div>

        <div class="collapse navbar-collapse" id="personal-links">
          <ul class="nav navbar-nav navbar-left">
              <li><a href="https://joey32793.github.io" target="_blank">Portfolio</a></li>
              <li><a href="https://www.github.com/joey32793/joeys-blog-django"target="_blank">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/JoeyMckenzie" target="_blank">LinkedIn</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li><a href="#" onclick="document.getElementById('logout').submit()">Logout</a></li>
                <form id="logout" method="POST" action="{% url 'accounts:logout_user' %}">
                    {% csrf_token %}
                    <input type="hidden">
                </form>
              {% else %}
                <li><a href="{% url 'accounts:login_user' %}">Sign In</a></li>
                <li><a href="{% url 'accounts:create_account' %}">Create Account</a></li>
              {% endif %}
          </ul>
        </div>
      </div>
    </nav>




    <!-- Main -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>